# Byte-compiled / optimized / DLL files
__pycache__/
PyHook/__pycache__/
Addon/Debug/
Addon/Release/
Addon/x64/

# Boost headers
Addon/include/boost/

# Distribution / packaging
build/
dist/

# PyInstaller
*.manifest

# VScode
.vscode/

# VisualStudio
Addon/.vs/
Addon/*.filters
Addon/*.user
Addon/*.aps

# Models
*.pth